@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Gloock&display=swap');

@media only screen and (max-width: 600px) {
    /* styles for screens smaller than 600px */
    body {
      font-size: 16px;
    }
    .container {
      width: 100%;
    }
  }
  
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F24949;
}

header{
    font-family: 'Babylonica', cursive;
    text-align: center;
    font-size: 5em;
    color: #DAA520;
    margin-bottom: 5px;
    border: 8px solid #ffce72;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.bottom{
    width : 960px;
    background-color: #DADADA;
    display: flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-around;
    /* border-radius: 20px; */
    box-shadow: 15px 15px 10px black;
    padding: 10px;
    font-family: 'gloock';
}

#currentRange, #currentColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

text{
    font-size: large;
}

button {
    padding:.5rem 1.5rem;
    border-radius: 15px;
    font-family: 'gloock';

}

button:hover {
    background-color: black;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(64, 15px [col-start]);
    max-width: 960px;
    height: 960px;
    flex: 1 0 0;

}

.box{
    background-color: #B1C9D2;
    border: 1px solid black;
    /* width: 15px; */
    /* height: 60px; */ 
} 

.box:hover {
    background-color: black;
}

  
input[type="color"] {
    width: 50px;
    height: 30px;
    padding: 0;
    margin: 0;

  }
