@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

* {
    background-color: #F24949;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header{
    width: 100%;
    font-family: 'Babylonica', cursive;
    text-align: center;
    font-size: 4em;
    color: #DAA520;
    margin-bottom: 5px;

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.left{
    width : 30%;
    height: 400px;
    background-color: aliceblue;
   
    
}



.grid{
    display: grid;
    grid-template-columns: repeat(64, 15px [col-start]);
    border: 1px solid black;
    width: 962px;
    height: 962px

}

.box{
    background-color: #B1C9D2;
    border: 1px solid black;
    /* width: 15px; */
    /* height: 60px; */ 
} 

.box:hover {
    background-color: black;
}
  